#header {
    width: 92%;
    height: 7vh;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4%;
}

#header-title {
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-size: 1.3rem;
}

#header-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-user-username {
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--main-text-color);
    margin-right: 1vw;
}

#header-user-image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    overflow: auto;
    border-radius: 50%;
}

#header-user-image:hover {
    cursor: pointer;
}

#header-user-tab {
    position: absolute;
    bottom: 10%;
    background-color: green;
}